body {
    background-color: whitesmoke;
    box-sizing: border-box;
}
.mainpage {
    max-width: 1000px;
    margin: 0 auto;
}
.headline {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}
.mainheader {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    animation: movingheader ease-out 2s 0s 1 normal;
}
@keyframes movingheader {
    from {left: 1020px;}
    to {left: 0px;}
}
.category {
    column-span: all;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30pt;
}
nav {
    background-color: rgb(62, 60, 168);
    margin: 0px;
    padding: 5px;
}
nav > a {
    color: whitesmoke;
    text-decoration: none;
}
nav > a:hover {
    text-decoration: underline whitesmoke;
}
hr {
    height: 2px;
    color: black;
    background-color: black;
}
form p label {
    font-size: 10pt;
}
.loginb {
    text-align: center;
    background-color: rgb(62, 60, 168);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: whitesmoke;
    width: 100px;
    border: 2px solid black;
    font-size: 10pt;
    text-decoration: none;
    display: inline-block;
}
body > p {
    font-size: 10pt;
}
.searchbox {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 0px;
    padding: 5px;
    border: 2px solid black;
    vertical-align: top;
    font-size: 22px;
}
.pbcontainer {
    display: inline-block;
    width: 78%;
    height:auto;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    text-align: center;
    position: relative;
}
.productbox {
    display: inline-block;
    height: 400px;
    width: 45%;
    border: 2px solid black;
    margin: 10px;
    padding: 0px;
    position: relative;
}
.productimage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.desc{
    position:absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}
.webintro {
    align-self: center;
    column-count: 2;
    column-gap: 40px;
    column-width: 200px;
    column-rule-style: solid;
    column-rule-width: 2px;
}